---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
---

<Base
  content={"We couldnt find the page you were looking for on MarcellusCodes web dev club"}
  title="404 page not found Marcellus web dev club"
>
  <Header>
    <div>
      <HeaderTitle href={`/`} title={"Sorry, page not found!"} />
      <div class="py-6"></div>
      <span
        class="text-[5rem] sm:text-[10rem] md:text-[15rem] text-black font-bold font-primary"
        >404
      </span>
    </div>
  </Header>
</Base>
