---
import { Image } from "@astrojs/image/components";
export interface CardContentProps {
  header?: boolean;
  image: string;
  author: string;
  difficulty: string;
  created_at: Date;
  theme?: string;
}

const {
  header = false,
  image,
  author,
  difficulty,
  created_at,
  theme = false,
} = Astro.props as CardContentProps;
---

<div
  class={`w-[100px] h-[100px] rounded-tl-md rounded-br-md overflow-hidden bg-black p-2 ${
    header ? "" : "dark:bg-grey dark:bg-opacity-10"
  }`}
>
  <div
    class={` group-hover:scale-125 ${
      header ? "" : "group-hover:grayscale-0 grayscale"
    } duration-300`}
  >
    <Image
      src={import(`../assets/images/${image}.png`)}
      width={128}
      height={128}
      alt={image}
    />
  </div>
</div>

<ul>
  <li
    class={`text-lg text-black ${
      theme ? "dark:text-grey dark:group-hover:text-cta-blue" : ""
    } font-medium`}
  >
    {author}
  </li>
  <li
    class={`text-md font-secondary text-black ${
      theme ? "dark:text-grey dark:group-hover:text-cta-blue" : ""
    } font-light`}
  >
    {difficulty}
  </li>
  <li
    class={`text-md font-secondary mt-2 ${
      theme ? "dark:text-grey dark:group-hover:text-cta-blue" : ""
    } font-light`}
  >
    {
      new Date(created_at).toLocaleDateString("en-EN", {
        day: "numeric",
        month: "long",
        year: "numeric",
      })
    }
  </li>
</ul>
