---
export interface CategoriesProps {
  heading: boolean;
  theme: boolean;
  aside:boolean;
  categories: {
    id: string;
    title: string;
    href: string;
  }[];
}

const { heading, aside = false, theme, categories } = Astro.props as CategoriesProps;
---

{
  heading && (
    <h4 class="font-primary text-2xl text-black dark:text-grey font-medium">
      Categories
    </h4>
    <div class="py-2" />
  )
}
<ul class={`flex  md:flex-col items-center md:items-start  md:space-y-1 md:space-x-0 overflow-x-auto ${aside ? 'snap-x snap-mandatory flex-row space-x-1' : 'flex-col space-y-1'} `}>
  {
    categories &&
    categories.map((categorie) => (
      <li
        class={`shrink-0 ${aside ? 'snap-always snap-center' : ''}  justify-self-center border hover:bg-black hover:border-black bg-transparent group-hover:border-black  border-grey ${
          theme ? "dark:hover:bg-cta-blue dark:hover:border-cta-blue dark:group-hover:border-cta-blue group" : ""
        }  list-none rounded-md duration-300 inline-flex`}
      >
        <a
          class={`py-2 px-6 text-md text-black  hover:text-grey ${
            theme ? " dark:hover:text-black  dark:decoration-black dark:text-grey" : ""
          } hover:underline  decoration-grey`}
          href={`/category/${categorie.href}`}
        >
          {categorie.title}
        </a>
      </li>
    ))
  }
</ul>
