---
import "@fontsource/amiko";
import "@fontsource/tajawal";
export interface BaseProps {
  title: string;
  content: string;
}

const { content, title } = Astro.props as BaseProps;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={content} />
    <title>{title}</title>
  </head>
  <body
    class="bg-white dark:bg-black duration-300 transition-colors pb-20 overflow-x-hidden"
  >
    <slot />
  </body>
</html>
