---
import "@fontsource/amiko";
import "@fontsource/tajawal";
export interface BaseProps {
  title: string;
  content: string;
}

const { content, title } = Astro.props as BaseProps;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/prism-theme.css" />
    <link rel="stylesheet" href="/prism-theme-dark.css" />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.add("light");
      } else {
        document.documentElement.classList.remove("light");
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={content} />
    <title>{title}</title>
  </head>
  <body
    class="bg-white dark:bg-black duration-300 transition-colors pb-20 overflow-x-hidden"
  >
    <slot />
  </body>
</html>
